@using Ais.Office.Areas.Admin.Controllers
@using Ais.Utilities.Extensions
@using Ais.WebUtilities.Extensions
@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer
@{
    var controllerType = typeof(ClientAttachmentsController);
    var editUrl = Url.DynamicActionWithRightsCheck(nameof(ClientAttachmentsController.Upsert), controllerType);
    if (editUrl.IsNotNullOrEmpty())
    {
        <a href="@editUrl" class="k-small k-button edit-client-attachment-js" data-searchqueryid="@ViewBag.SearchQueryId" title="@Localizer["Edit"]">
            <i class="k-i-edit k-icon k-font-icon"></i>
        </a>
    }

    var deleteUrl = Url.DynamicActionWithRightsCheck(nameof(ClientAttachmentsController.Delete), controllerType);
    if (deleteUrl.IsNotNullOrEmpty())
    {
        <a href="@deleteUrl" class="k-small k-button delete-client-attachment-js" data-searchqueryid="@ViewBag.SearchQueryId" title="@Localizer["Delete"]">
            <i class="k-i-delete k-icon k-font-icon"></i>
        </a>
    }
}