@using Ais.WebUtilities.Extensions;
@using Kendo.Mvc.TagHelpers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer Localizer
@model Ais.Office.ViewModels.Application.ClientQueryViewModel
@{
    var deferred = !ViewContext.HttpContext.Request.IsAjaxRequest();
    var wrapperId = Guid.NewGuid().ToString();
}
<div id="searchClientForm" action="@Url.DynamicAction(nameof(FoldersController.SearchClients), typeof(FoldersController))" data-ajax-method="get" data-ajax-update="#@wrapperId" class="form-row">
    <div class="form-input half">
        @Html.LabelFor(m => m.EgnBulstat)
        @Html.TextBoxFor(m => m.EgnBulstat, new { id = string.Empty })
    </div>
    <div class="form-input half">
        @Html.LabelFor(m => m.Knik)
        @Html.TextBoxFor(m => m.Knik, new { id = string.Empty })
    </div>
    <div class="form-input quad">
        @Html.LabelFor(m => m.FullName)
        @Html.TextBoxFor(m => m.FullName, new { id = string.Empty })
    </div>
    <div class="form-input pint">
        @Html.LabelFor(m => m.ForeignPersonData)
        @Html.TextBoxFor(m => m.ForeignPersonData, new { id = string.Empty })
    </div>
    <div class="form-input auto w100">
        @Html.LabelFor(m => m.Limit)
        @Html.EditorFor(m => m.Limit, "ResultLimit")
    </div>
    <div class="form-input w-auto">
        <label></label>
        <button class="bttn blue small bttn-icon autosize" type="submit" title="@Localizer["Search"]" ajax-button-submit>
            <i class="k-i-search k-icon k-font-icon"></i>
        </button>
        <button class="bttn blue small third autosize bttn-icon create-client-js" title="@Localizer["Add"]" type="button">
            <i class="k-i-plus k-icon k-font-icon"></i>
        </button>
    </div>
</div>
<div id="@wrapperId">
</div>