@using Microsoft.Extensions.Localization
@using Kendo.Mvc.TagHelpers
@using Ais.WebUtilities.Extensions
@inject IStringLocalizer Localizer;
@model Ais.Office.ViewModels.Account.ChangePasswordViewModel
<form method="post" action="@Url.DynamicAction(nameof(AccountController.ChangePassword), typeof(AccountController))"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-success="core.onKendoWindowSuccessCallback">
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    <div class="steps-body">
        <div class="step-box fullwidth">
            <div class="step-box-body">
                <div class="form-row">
                    <div class="form-input">
                        @Html.LabelFor(m => m.OldPassword)
                        @Html.EditorFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-input">
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.EditorFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-input">
                        @Html.LabelFor(m => m.ConfirmNewPassword)
                        @Html.EditorFor(m => m.ConfirmNewPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="k-dialog-buttongroup">
        <button class="bttn right third closeKendoWindow-js">
            @Localizer["Cancel"]
        </button>
        <button class="bttn right main">
            @Localizer["Change"]
        </button>
    </div>
</form>